div.actions-cell {
    text-align: center;
}

.add-account-button {
    margin: 0 2px 0 2px !important;
    float: right;
    right: 0;
}

.actions-btn {
    padding: 7px !important;
    margin: 0 5px 0 5px !important;
}

.table {
    margin: 0 2px;
}

.account-mw-fields * {
    margin-top: 5px;
    margin-bottom: 5px; 
}
